:root {
	--color-primary: #181818;
	--color-secondary: #f0f0f0;
	--font-principal: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #f0f0f0;
		--color-secondary: #181818;
	}
}

@media (prefers-contrast: more) {
	:root {
		--color-primary: #000;
		--color-secondary: #fff;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::after,
	*::before {
		transition: none !important;
		animation: none !important;
	}
}

::selection {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
	line-height: 1.15;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-principal);
	font-size: 100%;
	color: var(--color-primary);
	background-color: var(--color-secondary);
	-webkit-font-smoothing: antialiased;
	-mox-osx-font-smoothing: grayscale;
}

img {
	border-style: none;
}

img,
picture,
video,
frame,
figure {
	display: block;
	width: 100%;
	max-width: 100%;
}

a {
	display: block;
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
blockquote,
i,
u,
em,
p {
	font-style: inherit;
	color: inherit;
	text-decoration: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: none;
}

form,
input,
textarea,
select,
button,
label,
optgroup {
	display: block;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.15;
	hyphens: auto;
	color: inherit;
	background-color: transparent;
}

button {
	cursor: pointer;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

table,
tr,
td {
	border-spacing: 0;
	border-collapse: collapse;
}

svg {
	display: block;
	width: 100%;
	fill: currentcolor;
}

main {
	display: block;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

hr {
	overflow: visible;
	box-sizing: content-box;
	height: 0;
}

pre {
	font-family: monospace;
	font-size: 1em;
}

abbr[title] {
	text-decoration: underline dotted;
	border-bottom: none;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
	appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	appearance: button;
}

details {
	display: block;
}

summary {
	cursor: pointer;
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}
